@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default styles */
@layer base {
  h1 {
    @apply text-5xl;
    @apply font-semibold;
    @apply dark:text-white;
  }
  h2 {
    @apply text-4xl;
    @apply font-semibold;
    @apply dark:text-white;
  }
  h3 {
    @apply text-3xl;
    @apply font-semibold;
    @apply dark:text-white;
  }
  h4 {
    @apply text-2xl;
    @apply font-semibold;
    @apply dark:text-white;
  }
  h5 {
    @apply text-xl;
    @apply font-semibold;
    @apply dark:text-white;
  }
  h6 {
    @apply text-lg;
    @apply font-semibold;
    @apply dark:text-white;
  }
  p,
  span {
    @apply text-black;
    @apply dark:text-white;
  }
}

/* Hide numeric input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Editor JS styles */
.cdx-block,
.ce-toolbox__button,
.ce-toolbar__plus,
.ce-settings__button,
.cdx-settings-button,
/*react-drag-drop-files styles*/
.ebdQkY > span {
  @apply dark:text-white;
}

.ce-settings--opened {
  @apply dark:bg-gray-600;
  @apply dark:text-white;
}

.dark {
  @apply bg-gray-800;
}

label[for="imageUploader"] {
  min-width: auto;
}

/* post preview card */
@media (min-width: 400px) {
  .post-preview-card {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5rem;
  }
}
